.testimonial {
    background: #f4f6fc80;
}

.testimonial_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.testimonial_title {
    width: 350px;
}

.testimonial_title h3 {
    margin-bottom: 16px;
}

.testimonial_containt {
    width: 740px;
    position: relative;
}

.testimonial_containt h4 {
    margin-bottom: 50px;
}

.testimonial_user {
    position: relative;
}

.testimonial_user img {
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial_user h6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    padding-left: 70px;
}

.testimonial_user p {
    padding-left: 70px;
}

.testimonial_arrow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.testimonial_arrow i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    background: #2405F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.testimonial_arrow i:first-child {
    margin-right: 10px;
}

.testimonial_arrow i:hover {
    background: #cecedd;
    color: #1B1C2B;
}